<!doctype html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Hello world</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi asperiores, blanditiis commodi consequuntur dolore earum explicabo id illo inventore iure necessitatibus nisi ratione rerum similique soluta suscipit tenetur velit?
        </p>
    </body>
</html>